#contentDetails {
	background: url(../images/main/main_footer1.jpg) left bottom no-repeat;
	padding: 0px 15px 35px;
}

.detailsContainer {
	padding-bottom: 5px;
}


.yellow {
	color: #999966;
	font-weight: bold;
}

.f14 {
	font-size: 14px;
}

.leftDetails {
	float: left;
	margin: 5px 10px 0 0;
	
}

.rightDetails {
	float: right;
	width: 390px;
}

.descriptionContainer {
	
}

#detailsTable {
	border: 0;
	margin-top: 20px;
}

#detailsTable tr {
	height: 28px;
}

.detailsTableLeft {
	width: 120px;
}

.detailsTableLeft span{
	color: #999966;
	font-weight: bold;
	font-size: 14px;
}

.detailsTableRight {
	width: 270px;
	display: block;	
	vertical-align: top;
}


.detailsTableRight .price   {
	float: left;
	margin-left: 4px;
	display: block;
	font-weight: bold;
}


.detailsTableRight .discount   {	
	float: left;
	
	display: block;
}



.itemDetails .price span  {
	margin-top: 3px;
	margin-left: 3px;
	float: left;
	font-size: 15px;
	font-weight: bold;
}

.itemDetails .discount span  {
	margin-top: 3px;
	margin-right: 4px;
	float: left;
	font-size: 13px;
	
}

.buy
{
	float: left;
	margin-left: 20px;
	width: 70px;
	height: 24px;
	position: relative;
	
}

.buy a{
	display: block;
	width: 70px;
	height: 24px;
	background: url(../images/main/kaufen.jpg) left bottom no-repeat;
}

.buy a:hover {
	background: url(../images/main/kaufen_hover.jpg) left bottom no-repeat;
}
